<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.url">jdbc:postgres://ec2-54-247-120-169.eu-west-1.compute.amazonaws.com:5432/d91b4ncs6fqov9</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">hbgzwyuyklzcrl</property>
    <property name="connection.password">dd00eb2f8610dc0cb73597f085d4120f733b7f7b80657ca724d91d660410239b</property>
    <property name="hibernate.show_sql">false</property>

    <mapping class="leblogger.dal.model.Post"/>
</session-factory>
</hibernate-configuration>